<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">


	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<context:component-scan base-package="test"/>
	<context:property-placeholder location=""
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="$(driverClassName)"></property>
		<property name="url" value="$(url)"></property>
		<property name="username" value="$(username)"></property>
		<property name="password" value="$(password)"></property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="txManger" class="org.springframework.jdbc.datasoure.DataSoureTransactionManger">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<aop:config>
		<aop:pointcut id="pc" expression="execution(* test.JdbcTest.*.(...))"/>
		<aop:advisor advice-ref="txAcvice" pointcut-ref="pc"></aop:advisor>
	</aop:config>

	<tx:advice id="txAdvice" transaction-manger="txManger">
		<tx:attributes>
			<tx:method name="get+" propagation="NOT_SUPPORTEO"/>
			<tx:method name="+"></tx:method>
		</tx:attributes>
	</tx:advice>


</beans>


